/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';
@import '../animations';

.setting-text-stamp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: $settingTextBoxWidth;
    height: $settingTextBoxHeight;
    border: 1px solid #ffa059;
    border-radius: 11px;
    font-size: 11px;
    font-weight: bold;
    color: #ffa059;
}
