/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/
$half-donut-widths: 62px;
$half-donut-heights: 122px;

.wrap-half-donut0 {
	position: absolute;
	left: 50%;
	width: nth($half-donut-widths, 1);
	height: nth($half-donut-heights, 1);
	overflow: hidden;
}

.half-donut0 {
	position: absolute;
	background-image: url('../../images/w640/graph_4.png');
	background-size: nth($half-donut-widths, 1) nth($half-donut-heights, 1);
	width: nth($half-donut-widths, 1);
	height: nth($half-donut-heights, 1);
	transform: rotate(-180deg);
	transform-origin: 0% 50%;
}

[data-aos="rotate-out-back"] {	
	transition-property: none;
	&.aos-animate {
		animation: rotate-out-back 1s linear forwards 1;
	}
}

@keyframes rotate-out-back {
	86% { transform: rotate(0deg); }
	100% { transform: rotate(-30deg); }
}
