/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

$half-donut-widths: 62px, 59px, 59px, 62px;
$half-donut-heights: 122px, 116px, 118px, 122px;

.wrap-half-donut {
	position: absolute;
	overflow: hidden;
}

.wrap-half-donut0 {
	@extend .wrap-half-donut;
	width: nth($half-donut-widths, 1);
	height: nth($half-donut-heights, 1);
	left: 50%;
	margin-left: -nth($half-donut-widths, 1) / 2;
}

.wrap-half-donut1 {
	@extend .wrap-half-donut;
	top: 3px;
	width: nth($half-donut-widths, 2);
	height: nth($half-donut-heights, 2);
	left: 50%;
	margin-left: -nth($half-donut-widths, 2) / 2;
}

.half-donut {
	position: absolute;
	transform-origin: 0% 50%;
}

.half-donut0 {
	@extend .half-donut;
	background-image: url('../../images/w640/graph_1.png');
	background-size: nth($half-donut-widths, 1) nth($half-donut-heights, 1);
	width: nth($half-donut-widths, 1);
	height: nth($half-donut-heights, 1);
	transform: rotate(-180deg);	
}

.half-donut1 {
	@extend .half-donut;
	background-image: url('../../images/w640/graph_2.png');
	background-size: nth($half-donut-widths, 2) nth($half-donut-heights, 2);
	width: nth($half-donut-widths, 2);
	height: nth($half-donut-heights, 2);
	transform: rotate(-180deg);
}

[data-aos="rotate-out-back"] {	
	transition-property: none;
	&.aos-animate {
		animation: rotate-out-back 1.6s linear forwards 1;
	}
}

[data-aos="rotate"] {	
	transition-property: none;
	&.aos-animate {
		animation: rotate 1.28s linear forwards 1;
	}
}

@keyframes rotate-out-back {
	80% { transform: rotate(0deg); }
	100% { transform: rotate(-45deg); }
}

@keyframes rotate {
	100% { transform: rotate(0deg); }
}
