/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';

.wrap-half-donut {
	position: absolute;
	overflow: hidden;
	width: $imgHalfDonutWidth;
	height: $imgHalfDonutHeight;
	top: 0;
	left: 0;
}

.half-donut {
	position: absolute;
	transform: rotate(-180deg);
	transform-origin: 0% 50%;
}

@mixin img-half-donut() {
	background-size: $imgHalfDonutWidth $imgHalfDonutHeight;
	width: $imgHalfDonutWidth;
	height: $imgHalfDonutHeight;
}

.img-half-donut0 {
	@include img-half-donut();
	background-image: url('../../images/w640/img_graph_orange.png');
}

.img-half-donut1 {
	@include img-half-donut();
	background-image: url('../../images/w640/img_graph_green.png');
}

.img-half-donut2 {
	@include img-half-donut();
	background-image: url('../../images/w640/img_graph_red.png');
}

.half-donut0-rotate {
	animation: rotate0 0.64s linear 2.3s 1 normal forwards;
}

.half-donut1-rotate {
	animation: rotate2 1.28s linear 2.3s 1 normal forwards;
}

.half-donut2-rotate {
	animation: rotate1 0.18s linear 3.58s 1 normal forwards;	
}

.half-donut3-rotate {
	animation: rotate0 0.64s linear forwards 1;	
}

.half-donut4-rotate {
	animation: rotate-out-back 0.8s linear forwards 1;
}

@keyframes rotate-out-back {
	80% { transform: rotate(0deg); }
	100% { transform: rotate(-45deg); }
}

@keyframes rotate0 {
	100% { transform: rotate(0deg); }
}

@keyframes rotate1 {
	100% { transform: rotate(-145deg); }
}

@keyframes rotate2 {
	50% { transform: rotate(-180deg); }
	100% { transform: rotate(0deg); }
}
