/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';

.setting-intro {
    position: relative;
}

.setting-intro > p {
    padding: 109px 0 12px 0;
}
