/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.one-day-intro {
    position: relative;
    margin-bottom: 80px;   
    height: 600px;
}

.wrap-coin {
    position: relative;
    width: 160px;
    height: 106px;
    margin: 0 auto;
}
