/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.one-day-intro {
    position: relative;
    margin-bottom: 80px;   
    height: 360px;
}
