/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

.budget-intro {
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
}

.budget-intro > p {
    padding-bottom: 46px;
    line-height: 32px;
    color: white;
}

.budget-intro p > strong {
    font-size: 20px;
}