/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

.budget-intro {
    position: relative;
    overflow: hidden;
    padding-bottom: 126px;
}

.budget-intro > p {
    padding: 111px 0 38px 0;
}
