/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

.budget-intro {
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
}

.budget-intro > p {
    padding-bottom: 38px;    
}
