/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.budget-setting-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: $budgetSettingTextBoxWidth;
    height: $budgetSettingTextBoxHeight;
    border: 1px solid #ffa059;
    border-radius: 11px;
    font-size: 11px;
    color: #ffa059;
}

.blink {
    animation: blink 1s linear 0.8s 1 normal forwards;	
}

@keyframes blink {
    0% { opacity: 0; }
    5% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
}
