/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';

.coin {
    position: absolute;
    left: 50%;
    margin-left: -$imgCoinWidth / 2;
    width: $imgCoinWidth;
    height: $imgCoinHeight;
}

@mixin img-coin() {
    position: absolute;
    width: $imgCoinWidth;
    height: $imgCoinHeight;
}

@mixin img-coin-background-size() {
    background-size: $imgCoinWidth $imgCoinHeight;
}

.img-coin-white {
    @include img-coin();
    background: url('../../images/w320/img_coin_white.png') no-repeat;
}

.img-coin-orange {
    @include img-coin();
    background: url('../../images/w320/img_coin_orange.png') no-repeat;
    opacity: 0;
}

@media only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .img-coin-white {
        @include img-coin();
        @include img-coin-background-size();
        background-image: url('../../images/w640/img_coin_white.png');
    }
    
    .img-coin-orange {
        @include img-coin();
        @include img-coin-background-size();
        background-image: url('../../images/w640/img_coin_orange.png');
        opacity: 0;
    }
}

[data-aos="coin-slide-left"] {
    transition-property: transform;
    &.aos-animate {
        transform: translateX(-110px);
    }
}

[data-aos="coin-slide-right"] {
    transition-property: transform;
    &.aos-animate {
        transform: translateX(110px);
    }
}
