/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';

.coin {
    position: absolute;
    left: 50%;
    margin-left: -$imgCoinWidth / 2;
    width: $imgCoinWidth;
    height: $imgCoinHeight;
}

@mixin img-coin() {
    position: absolute;
    background-size: $imgCoinWidth $imgCoinHeight;
    width: $imgCoinWidth;
    height: $imgCoinHeight;
}

.img-coin-white {
    @include img-coin();
    background-image: url('../../images/w640/img_coin_white.png');
}

.img-coin-orange {
    @include img-coin();
    background-image: url('../../images/w640/img_coin_orange.png');
    opacity: 0;
}

[data-aos="coin-slide-left"] {
    transition-property: transform;
    &.aos-animate {
        transform: translateX(-110px);
    }
}

[data-aos="coin-slide-right"] {
    transition-property: transform;
    &.aos-animate {
        transform: translateX(110px);
    }
}
