/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';

.one-day-coins {
    position: absolute;
    top: 212px;
    left: 50%;
    width: $wrapCoinBoxWidth;
    height: $oneDayCoinsHeight;
    margin-left: -$wrapCoinBoxWidth / 2;
}

.wrap-coin-box {
    position: relative;
    width: $wrapCoinBoxWidth;
    height: $wrapCoinBoxHeight;
    margin: 0 auto;
}
