/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';

.one-day-coins {
    position: relative;
    top: 38px;
    width: $wrapCoinBoxWidth;
    height: $oneDayCoinsHeight;
    margin: 0 auto;
}

.wrap-coin-box {
    position: relative;
    width: $wrapCoinBoxWidth;
    height: $wrapCoinBoxHeight;
    margin: 0 auto;
}
