/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

.one-day-coins {
    position: relative;
    top: 46px;
    width: 160px;
    height: 274px;
    margin: 0 auto;
}

.wrap-coin-box {
    position: relative;
    width: 160px;
    height: 106px;
    margin: 0 auto;
}
