/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../Common.scss';

.coins {
    position: absolute;
    width: 50px;
    height: 106px;
}

.coins-left {
    @extend .coins;
    left: 50%;
    margin-left: -$coinWidth - 30px;
}

.coins-right {
    @extend .coins;
    right: 50%;
    margin-right: -$coinWidth - 30px;
}
