/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';

.budget-date {
    position: relative;
    width: $imgBudgetCardWidth;    
    top: -32px;
}

.budget-date > p {
    font-size: 12px;
    color: white;
}
