/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.budget-date {
    position: relative;
    width: $budgetCardWidth;    
    top: -32px;
}

.budget-date p {
    font-size: 12px;
    color: white;
}
