/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.coin-box {
    position: absolute;
    width: $coinBoxWidth;
    height: $coinBoxHeight;
}

.coin-box-left {
    left: 50%;
    margin-left: -$coinBoxWidth - 30px + ($coinBoxWidth - $imgCoinWidth) / 2;
}

.coin-box-right {
    right: 50%;
    margin-right: -$coinBoxWidth - 30px + ($coinBoxWidth - $imgCoinWidth) / 2;
}

.wrap-coin {
    position: relative;
    width: $wrapCoinWidth;
    height: $wrapCoinHeight;
}

[data-aos="coin-box-slide-up"] {
    transition-property: transform;
    &.aos-animate {
        transform: translateY(-17px);
    }
}

[data-aos="coin-box-slide-down"] {
    transition-property: transform;
    &.aos-animate {
        transform: translateY(17px);
    }
}
