/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

.blink {
    animation: blink 1s linear 1s 1 normal forwards;	
}

.blink-back {
    animation: blink-back 1s linear 1s 1 normal forwards;	
}

.blink-orange {
    animation: blink-orange 1s linear 1s 1 normal forwards;
}

.blink-smooth {
    animation: blink-smooth 0.5s linear infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    5% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes blink-back {
    0% { opacity: 1; }
    5% { opacity: 0; }
    95% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blink-orange {
    0% { color: #c0c0c0 }
    5% { color: #ffa059 }
    95% { color: #ffa059 }
    100% { color: #c0c0c0 }
}

@keyframes blink-smooth {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}
