/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

$imgDonutWidth: 126px;

$imgHalfDonutWidth: 63px;
$imgHalfDonutHeight: 126px;

$imgBudgetCardWidth: 250px;
$imgBudgetCardHeight: 172px;

$wrapBudgetCardWidth: 754px;
$wrapBudgetCardHeight: 172px;

$imgTodayPhoneWidth: 200px;
$imgTodayPhoneHeight: 372px;

$todayBudgetIntroBoxWidth: 262px;
$todayBudgetIntroBoxHeight: 168px;

$imgCoinWidth: 50px;
$imgCoinHeight: 20px;

$wrapCoinWidth: $imgCoinWidth + 10px;
$wrapCoinHeight: 106px;

$coinBoxWidth: $wrapCoinWidth;
$coinBoxHeight: $wrapCoinHeight + 38px;

$wrapCoinBoxWidth: $coinBoxWidth * 2 + 60px;
$wrapCoinBoxHeight: $coinBoxHeight;

$oneDayCoinsHeight: $coinBoxHeight * 2 + 24px;

$imgSettingPhoneWidth: 260px;
$imgSettingPhoneHeight: 318px;

$settingTextBoxWidth: 142px;
$settingTextBoxHeight: 22px;

$imgScrollArrowWidth: 26px;
