/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

$halfDonutWidths: 62px, 59px, 62px;
$halfDonutHeights: 122px, 116px, 122px;

$budgetCardWidth: 250px;
$budgetCardHeight: 172px;

$wrapBudgetCardWidth: 754px;
$wrapBudgetCardHeight: 172px;
