/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

$donutSize: 126px;

$halfDonutWidths: 63px, 63px, 63px;
$halfDonutHeights: 126px, 126px, 126px;

$budgetCardWidth: 250px;
$budgetCardHeight: 172px;

$wrapBudgetCardWidth: 754px;
$wrapBudgetCardHeight: 172px;

.align-center {
    text-align: center;
}