/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

$donutSize: 126px;

$halfDonutWidth: 63px;
$halfDonutHeight: 126px;

$budgetCardWidth: 250px;
$budgetCardHeight: 172px;

$wrapBudgetCardWidth: 754px;
$wrapBudgetCardHeight: 172px;

.align-center {
    text-align: center;
}