/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.today-intro > p {
    font-size: 20px;
    line-height: 40px;
    padding-top: 30px;
    padding-bottom: 14px;
}

.today-intro > p > strong {
    font-size: 28px;
}

.wrap-today-phone {
    width: $imgTodayPhoneWidth;
    margin: 0 auto;
}

.img-today-phone {
    background-image: url("../../images/w640/img_today.png");
    background-size: $imgTodayPhoneWidth $imgTodayPhoneHeight;
    width: $imgTodayPhoneWidth;
    height: $imgTodayPhoneHeight;
}
