/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';

.today-intro > p {
    font-size: 20px;
    line-height: 40px;
    padding-top: 30px;
    padding-bottom: 14px;
}

.today-intro > p > strong {
    font-size: 28px;
}

.today-phone {
    width: $imgTodayPhoneWidth;
    margin: 0 auto;
}

@mixin img-today-phone() {
    width: $imgTodayPhoneWidth;
    height: $imgTodayPhoneHeight;
}

.img-today-phone {
    @include img-today-phone();
    background: url("../../images/w320/img_today.png") no-repeat;
}

@media only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .img-today-phone {
        @include img-today-phone();
        background-image: url("../../images/w640/img_today.png");
        background-size: $imgTodayPhoneWidth $imgTodayPhoneHeight;
    }
}
