/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';
@import '../animations';

@mixin setting-text() {
    position: absolute;
    line-height: 14px;
}

.setting-text-small {
    @include setting-text();
    font-size: 10px;
    color: #c0c0c0;
}

.setting-text-middle {
    @include setting-text();
    font-size: 12px;
    color: #c0c0c0;
}

.setting-text-large {
    @include setting-text();
    font-size: 14px;
    color: #595959;
}
