/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.one-day-intro-box {
    z-index: -10;
    position: absolute;
    top: 116px;
    left: 50%;
    width: $todayBudgetIntroBoxWidth;
    height: $todayBudgetIntroBoxHeight;
    margin-left: -$todayBudgetIntroBoxWidth / 2;
    border-radius: 4px;
    background-color: #ffaf6d;
}

[data-aos="one-day-intro-box-slide-down"] {
    transition-property: transform;
    &.aos-animate {
        transform: translateY($todayBudgetIntroBoxHeight);
    }
}
