/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

.align-center {
    text-align: center;
}

.hide {
  opacity: 0;
}

[data-aos="d-fade-out"] {
    transition-property: opacity;
    &.aos-animate {
        opacity: 0;
    }
}

[data-aos][data-aos][data-aos-delay='3100'] {
  transition-delay: 3100ms;
}

[data-aos][data-aos][data-aos-delay='3300'] {
  transition-delay: 3300ms;
}

[data-aos][data-aos][data-aos-delay='3700'] {
  transition-delay: 3700ms;
}
