$donut-width: 62px;
// $graph4-height: 350px;

.App {
  text-align: center;
}

.wrap_donut {
  position: absolute;
  left: 50%;
  width: $donut_width;
  height: $donut_width * 2;
  padding: 0;
  overflow: hidden;
}

.wrap_donut::before {
  position: absolute;  
  left: 0;
  width: inherit;
  height: inherit;
  // margin-left: -$donut-width / 2;
  
  box-sizing: border-box;
  border-style: solid;
  border-width: 12px;
  border-color: #EEEEEE;
  border-left: none;
  border-top-right-radius: $donut-width;
  border-bottom-right-radius: $donut-width;
  content: '';

  // transform: rotate(180deg);
  // transform-origin: 100% 50%; 
}

// .bg-graph {
//   // position: absolute;
//   width: $graph4-width;
//   height: $graph4-height;
// }

// .graph0 {
//   background: url("./graph_2.png") no-repeat;
// }

// .graph1 {
//   background: url("./graph_3.png") no-repeat;
// }

// .graph2 {
//   background: url("./graph_4.png") no-repeat;
//   background-size: $graph4-width $graph4-height;
// }

// [data-aos="rotate-graph"] {
//   transform: rotate(0);
//   transition-property: transform;
//   &.aos-animate {
//     transform: rotate(180deg);
//   }
// }