/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

$donut-size: 118px;

.donut {
    position: absolute;
    width: $donut-size;
    height: $donut-size;
    background-image: url("../../images/w640/graph_0.png");
    background-size: $donut-size $donut-size;
    top: 0;
    left: 0;
}
