/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.donut {
    position: absolute;
    width: $donutSize;
    height: $donutSize;
    background-image: url("../../images/w640/img_graph_gray.png");
    background-size: $donutSize $donutSize;
    top: 0;
    left: 0;
}
