/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';
@import '../animations';

.scroll-arrow {
    position: fixed;
    bottom: 16px;
    left: 50%;
    margin-left: -$imgScrollArrowWidth / 2;
    opacity: 0;
}

@mixin img-scroll-arrow() {
    width: $imgScrollArrowWidth;
    height: $imgScrollArrowWidth;
}

.img-scroll-arrow {
    @include img-scroll-arrow();
    background: url("../../images/w320/img_scroll_arrow.png") no-repeat;
}

@media only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .img-scroll-arrow {
        @include img-scroll-arrow();
        background-image: url("../../images/w640/img_scroll_arrow.png");
        background-size: $imgScrollArrowWidth $imgScrollArrowWidth;
    }
}
