/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

.block-button {
    position: absolute;
    top: 0;
    height: 100%;
    border: none;
}
