/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../Common.scss';

.today-budget-intro {
    position: relative;
    margin-bottom: 80px;   
}
