/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.today-budget-intro {
    position: relative;
    margin-bottom: 80px;   
}
