/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../Common.scss';

.wrap-budget-cards {
    position: relative;
    width: $wrapBudgetCardWidth;
    height: $wrapBudgetCardHeight;
    left: 50%;
    margin-left: -$wrapBudgetCardWidth / 2 - $budgetCardWidth;
}

[data-aos="swipe-card"] {
    transition-property: transform;
    &.aos-animate {
       transform: translateX($budgetCardWidth);
   } 
}
