/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.wrap-budget-setting-phone {
    width: $imgBudgetSettingPhoneWidth;
    margin: 0 auto;
}

.img-budget-setting-phone {
    background: url('../../images/w640/img_budget_setting.png') no-repeat;
    background-size: $imgBudgetSettingPhoneWidth $imgBudgetSettingPhoneHeight;
    width: $imgBudgetSettingPhoneWidth;
    height: $imgBudgetSettingPhoneHeight;
}
