/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../common';

.wrap-budget-setting-phone {
    position: relative;
    width: $imgBudgetSettingPhoneWidth;
    margin: 0 auto;
}

.img-budget-setting-phone {
    background-image: url('../../images/w640/img_budget_setting.png');
    background-size: $imgBudgetSettingPhoneWidth $imgBudgetSettingPhoneHeight;
    width: $imgBudgetSettingPhoneWidth;
    height: $imgBudgetSettingPhoneHeight;
}
