/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

@import '../constants';

@mixin img-budget-card() {
    background-size: $imgBudgetCardWidth $imgBudgetCardHeight;
    width: $imgBudgetCardWidth;
    height: $imgBudgetCardHeight;
}

.budget-card {
    position: relative;
    float: left;
}

.img-budget-card0 {
    @include img-budget-card();
    background-image: url("../../images/w640/img_budget_card0.png");
    margin-right: 2px;
}

.img-budget-card1 {
    @include img-budget-card();
    background-image: url("../../images/w640/img_budget_card1.png");
    margin-right: 2px;
}

.img-budget-card2 {
    @include img-budget-card();
    background-image: url("../../images/w640/img_budget_card1.png");
}
