/* --------------------------------------------------------
author: Dval
----------------------------------------------------------*/

$budgetCardWidth: 250px;
$budgetCardHeight: 172px;

.budget-card {
    position: relative;
    float: left;
    width: $budgetCardWidth;
    height: $budgetCardHeight;
    background-size: $budgetCardWidth $budgetCardHeight;
}

.budget-card0 {
    @extend .budget-card;
    background-image: url("../../images/w640/img_budget_bg.png");
}

.budget-card1 {
    @extend .budget-card;
    background-image: url("../../images/w640/img_budget_bg.png");
}
